.cube {
  position: relative;
  width: 600px;
  height: 600px;
  background-color: #eeeeee;
}

.face {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 300px;
  left: 300px;
  width: 180px;
  height: 180px;
  transform-origin: center center -90px;
}

.piece {
  cursor: grab;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border: 1px solid #777777;
  border-radius: 4px;
  background-color: #ffffff;
  font-weight: bold;
  font-size: 1.5rem;
  transform-origin: center center;
}

.piece:active {
  cursor: grabbing;
}

.switch {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 300px;
  left: 300px;
  width: 180px;
  height: 40px;
  border: 1px solid #777777;
  background-color: #ccccff;
  font-weight: bold;
  font-size: 1rem;
  transform-origin: center center -90px;
}

.rotation {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 300px;
  left: 300px;
  width: 40px;
  height: 40px;
  border: 1px solid #777777;
  background-color: #ffcccc;
  font-weight: bold;
  font-size: 1rem;
  transform-origin: center center -90px;
}

.action {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 300px;
  left: 300px;
  width: 120px;
  height: 40px;
  border: 1px solid #777777;
  background-color: #ccffcc;
  font-weight: bold;
  font-size: 1rem;
  transform-origin: center center -90px;
}
