.header {
  padding: 1rem 0;
}

.main {
  padding: 0;
}

.footer {
  padding: 1rem 0;
}

.container {
  padding: 0 1rem;
  width: 100%;
}

.title {
  font-size: 1.5rem;
}

.copy {
  font-size: 0.9rem;
}
